h1{
	color:#0000FF;
}

h2{
	color:#FF0000;
}


@media (min-width: 400px) {
    footer{
        background-color: #6194fd;
        min-height: 100px;
        text-align: center;
    }

    .navbar{
        background-color: #6194fd;

    }
    .inquiry-section{
        margin: 20px 0;
    }
    .container-fluid{
        min-height: 300px;
        background-color: #ff665f;
        padding: 15px 0;
    }
    .thankyou{
        text-align: center;
    }
    .inquiry{
        margin: 10px 0;
    }
    .label{
        font-weight: bold;
        text-decoration: underline;
    }
    .form-row label{
        font-size: 1.2rem   ;
    }
    .inquiry-section .title h2{
        text-align: center;
        color: black;
    }
    .inquiry-section label{
        font-size: 2.5rem;
    }

    .inquiry-section input{
        height: 4.5rem;
    }
    .nav-item{
        padding-left: 10px;
        padding-right: 10px
    }
    .nav-item a{
        font-size: 2.5rem;
    }
}

@media (min-width: 1024px) {
    footer{
        background-color: #6194fd;
        min-height: 100px;
        text-align: center;
    }
    .nav-item{
        padding-left: 10px;
        padding-right: 10px
    }
    .navbar{
        background-color: #6194fd;
    }
    .inquiry-section{
        margin: 20px 0;
    }
    .container-fluid{
        min-height: 300px;
        background-color: #ff665f;
        padding: 15px 0;
    }
    .thankyou{
        text-align: center;
    }
    .inquiry{
        margin: 10px 0;
    }
    .label{
        font-weight: bold;
        text-decoration: underline;
    }
    .form-row label{
        font-size: 1.2rem   ;
    }
    .inquiry-section .title h2{
        text-align: center;
        color: black;
    }
    .nav-item a{
        font-size: 1.5rem;
    }
}


