h1{
	color:#0000FF;
}

h2{
	color:#FF0000;
}



footer{
	background-color: #6194fd;
	min-height: 100px;
	text-align: center;
}

.navbar{
	background-color: #6194fd;
}
.inquiry-section{
	margin: 20px 0;
}
.container-fluid{
	min-height: 300px;
	background-color: #ff665f;
    padding: 15px 0;
}
.thankyou{
	text-align: center;
}
.inquiry{
	margin: 10px 0;
}
.label{
	font-weight: bold;
	text-decoration: underline;
}
.form-row label{
    font-size: 1.2rem   ;
}
.inquiry-section .title h2{
    text-align: center;
    color: black;
}

