<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Jai Enterprise : E-Transport</title>

    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container-fluid">
    <div class="row inquiry-section">
        <div class="offset-lg-2 col-lg-8 col-sm-12 title">
            <h2>Please fill below form to get transport on rent. </h2>
            <h2>किराए पर गाडी करने के लिए कृपया नीचे फार्म भरें |</h2>
        </div>
        <div class="offset-lg-2 col-lg-8 col-sm-12">
            <form action="#" th:action="@{/inquiry}" th:object="${inquiry}" method="post">
                <div class="row form-row">
                    <div class="col-lg-6 col-sm-12">
                        <label for="name">Name(आपका नाम?)</label>
                        <input type="text" class="form-control" th:field="*{name}" id="name" aria-describedby="namehelp"
                               placeholder="Enter name">
                        <small id="nameHelp" class="form-text text-muted">Enter your name</small>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <label for="mobileNumber">Mobile Number(मोबाइल नंबर)</label>
                        <input type="number" class="form-control" th:field="*{mobileNumber}" id="mobileNumber" aria-describedby="mobileNumberHelp"
                               placeholder="Mobile number">
                        <small id="mobileNumberHelp" class="form-text text-muted">Mobile number</small>
                    </div>
                </div>
                <div class="row form-row">
                    <div class="col-lg-6 col-sm-12">
                        <label for="pickupLocation">Pickup Location(सामान कहाँ से लेना है ?)</label>
                        <textarea class="form-control" th:field="*{pickupLocation}" id="pickupLocation" rows="3" aria-describedby="pickUpLocationHelp" placeholder="Pickup location"></textarea>
                        <small id="pickUpLocationHelp" class="form-text text-muted">Enter pickup location</small>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <label for="dropLocation">Drop Location(सामान किस पते पे पहुँचाना है?)</label>
                        <textarea class="form-control" th:field="*{dropLocation}" id="dropLocation" rows="3" aria-describedby="destinationHelp" placeholder="Destination"></textarea>
                        <small id="destinationHelp" class="form-text text-muted">Enter drop location</small>
                    </div>
                </div>
                <div class="row form-row">
                    <div class="col-lg-12 col-sm-12">
                        <label for="materialType">Material type(मटेरियल का प्रकार)</label>
                        <input type="text" class="form-control" th:field="*{materialType}" id="materialType" aria-describedby="materialTypeHelp"
                               placeholder="Material type">
                        <small id="materialTypeHelp" class="form-text text-muted">Material type</small>
                    </div>
                </div>
                <div class="row form-row">
                    <div class="col-lg-12 col-sm-12">
                        <label for="bookerAddress">Booker address(आर्डर करने वाले का पता)</label>
                        <textarea class="form-control" th:field="*{bookerAddress}" id="bookerAddress" rows="3" aria-describedby="bookerAddressHelp"
                                  placeholder="Enter your address"></textarea>
                        <small id="bookerAddressHelp" class="form-text text-muted">Booker Address</small>
                    </div>
                </div>
                <div class="row form-row">
                    <div class="col-lg-12 col-sm-12 checkbox">
                        <label for="insurance">Insurance(सामान का बिमा चाहिए?)
                        <input th:type="checkbox" class="form-control" th:field="*{insurance}" id="insurance" aria-describedby="insuranceHelp"
                                  placeholder="Insurance Required"></input>
                        </label>
                        <small id="insuranceHelp" class="form-text text-muted">Insurance</small>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <!--<div class="starter-template">-->
    <!--<h1>Spring Boot Web Thymeleaf + Spring Security</h1>-->
    <!--<h2>1. Visit <a th:href="@{/admin}">Admin page (Spring Security protected, Need Admin Role)</a></h2>-->
    <!--<h2>2. Visit <a th:href="@{/user}">User page (Spring Security protected, Need User Role)</a></h2>-->
    <!--<h2>3. Visit <a th:href="@{/about}">Normal page</a></h2>-->
    <!--</div>-->

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>