<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Transport</title>

    <div th:replace="fragments/header :: header-css"/>
    <!--<link rel="icon" th:href="@{/images/brand.png}">-->
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
    <h1>All Inquiries</h1>
    <div class="inquiry row border border-primary" th:each="inquiry : ${inquiries}">
        <div class="col-md-6">
            <label for="name">Name</label>
            <input type="text" id="name" disabled th:value="${inquiry.name}">
        </div>
        <div class="col-md-6">
            <label for="mobileNumber">Mobile Number</label>
            <input type="text" id="mobileNumber" disabled th:value="${inquiry.mobileNumber}">
        </div>
        <div class="col-md-6">
            <label for="pickupLocation">Pickup Location</label>
            <input type="text" id="pickupLocation" disabled th:value="${inquiry.pickupLocation}">
        </div>
        <div class="col-md-6">
            <label for="dropLocation">Drop Location</label>
            <input type="text" id="dropLocation" disabled th:value="${inquiry.dropLocation}">
        </div>
        <div class="col-md-6">
            <label for="bookerAddress">Booker Address</label>
            <input type="text" id="bookerAddress" disabled th:value="${inquiry.bookerAddress}">
        </div>
        <div class="col-md-6">
            <label for="materialType">Material Type</label>
            <input type="text" id="materialType" disabled th:value="${inquiry.materialType}">
        </div>
        <div class="col-md-6">
            <label for="status">Status</label>
            <input type="text" id="status" disabled th:value="${inquiry.status}">
        </div>
        <div class="col-md-6">
            <label for="notes">Notes</label>
            <input type="text" id="notes" disabled th:value="${inquiry.notes}">
        </div>

    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>