<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Transport</title>

    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
    <h1>All Inquiries</h1>
    <div class="inquiry row border border-primary" th:each="inquiry : ${inquiries}">
        <div class="col-md-6">
            <div class="row">
                <label for="name" class="label col-md-4">Name:</label>
                <span id="name" class="col-md-8" th:text="${inquiry.name}">name</span>
            </div>

        </div>
        <div class="col-md-6">
            <div class="row">
                <label for="mobileNumber" class="label col-md-4">Mobile Number:</label>
                <span id="mobileNumber" class="col-md-8" th:text="${inquiry.mobileNumber}">Mobile Number</span>
            </div>

        </div>
        <div class="col-md-6">
            <div class="row">
                <label for="pickupLocation" class="label col-md-4">Pickup Location:</label>
                <span  id="pickupLocation" class="col-md-8" th:text="${inquiry.pickupLocation}">Pickup Location</span>
            </div>

        </div>
        <div class="col-md-6">
            <div class="row">
                <label for="dropLocation" class="label col-md-4">Drop Location:</label>
                <span id="dropLocation" class="col-md-8" th:text="${inquiry.dropLocation}">Drop Location</span>
            </div>

        </div>
        <div class="col-md-6">
            <div class="row">
                <label for="bookerAddress" class="label col-md-4">Booker Address:</label>
                <span id="bookerAddress" class="col-md-8" th:text="${inquiry.bookerAddress}">Booker Address</span>
            </div>

        </div>
        <div class="col-md-6">
            <div class="row">
                <label for="materialType" class="label col-md-4">Material Type:</label>
                <span  id="materialType" class="col-md-8" th:text="${inquiry.materialType}">Material Type</span>
            </div>

        </div>
        <div class="col-md-6">
            <div class="row">
                <label for="status" class="label col-md-4">Status:</label>
                <span id="status" class="col-md-8" th:text="${inquiry.status}">Status</span>
            </div>

        </div>
        <div class="col-md-6">
            <div class="row">
                <label for="notes" class="label col-md-4">Notes:</label>
                <span id="notes" class="col-md-8" th:text="${inquiry.notes}">Notes</span>
            </div>

        </div>

    </div>
    <div class="row">
        <div class="form-group col-md-1">
            <select class="form-control pagination" id="pageSizeSelect">
                <option th:each="pageSize : ${pageSizes}" th:text="${pageSize}"
                        th:value="${pageSize}"
                        th:selected="${pageSize} == ${selectedPageSize}"></option>
            </select>
        </div>
        <div th:if="${inquiries.totalPages != 1}"
             class="form-group col-md-11 pagination-centered">
            <ul class="pagination">
                <li th:class="${inquiries.number == 0} ? disabled"><a
                        class="pageLink"
                        th:href="@{/inquiries(pageSize=${selectedPageSize}, page=1)}">&laquo;</a>
                </li>
                <li th:class="${inquiries.number == 0} ? disabled"><a
                        class="pageLink"
                        th:href="@{/inquiries(pageSize=${selectedPageSize}, page=${inquiries.number})}">&larr;</a>
                </li>
                <li
                        th:class="${inquiries.number == (page - 1)} ? 'active pointer-disabled'"
                        th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                    <a class="pageLink"
                       th:href="@{/inquiries(pageSize=${selectedPageSize}, page=${page})}"
                       th:text="${page}"></a>
                </li>
                <li
                        th:class="${inquiries.number + 1 == inquiries.totalPages} ? disabled">
                    <a class="pageLink"
                       th:href="@{/inquiries(pageSize=${selectedPageSize}, page=${inquiries.number + 2})}">&rarr;</a>
                </li>
                <li
                        th:class="${inquiries.number + 1 == inquiries.totalPages} ? disabled">
                    <a class="pageLink"
                       th:href="@{/inquiries(pageSize=${selectedPageSize}, page=${inquiries.totalPages})}">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function() {
        changePageAndSize();
    });

    function changePageAndSize() {
        $('#pageSizeSelect').change(function(evt) {
            window.location.replace("/inquiries?pageSize=" + this.value + "&page=1");
        });
    }
    /*]]>*/
</script>
</body>
</html>